@import url('colors.less');

body {
	background-image: url('../images/declaration-light.jpg');
	background-position: top;
	background-repeat: no-repeat;
	// background-size: 100% auto;
}

div#mantra {
	background: transparent;
	padding-top: 72px;
	padding-bottom: 32px;
	z-index: 1;
	div#logo {
		text-align: center;
		img {
			height: 72px;
			@media (max-width: 480px) {
				height: auto;
				width: 240px;
			}
		}
	}
	.Tagline {
		font-size: 1.7em;
		font-weight: bold;
		line-height: 1.25em;
		margin: 12px 0 24px 0;
		text-align: center;
	}
	p#description {
		color: @dark-grey;
		font-size: 1.25em;
		font-weight: bold;
		line-height: 1.25em;
		padding: 0 13%;
		text-align: center;
		text-shadow: 2px 2px 2px white;
		@media (max-width: 480px) {
			font-size: 1.3em;
			line-height: 1.1em;
		}
	}
	div#musicians {
		margin-top: 28px;
		margin-left: 28px;
		margin-right: 28px;
		text-align: center;
	}
}

div#forArtists {
	background-color: @neptune-dark-blue;
	color: white;
	padding-bottom: 20px;
	.Content {
		margin: 28px;
	}
}

div#forConsumers {
	background-color: rgba(255, 255, 255, 0.75);
	padding-bottom: 20px;
	.Content {
		margin: 28px;
	}
}

div#signup {
	background-color: @neptune-dark-purple;
	color: white;
	text-align: center;
	.Content {
		display: inline-block;
		p#signupResult {
			font-size: 1.25em;
			margin: 28px;
		}
		div#stayTunedText {
			display: inline-block;
			margin-bottom: 24px;
			padding-right: 20px;
			text-align: center;
			width: 220px;
			h3 {
				margin-bottom: 0;
			}
			p {
				margin-bottom: 20px;
			}
			.FeedbackBtn {
				a {
					color: @neptune-dark-purple;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		div#signupForm {
			display: inline-block;
			margin-top: 16px;
			input#fname {
				width: 200px;
				@media (max-width: 480px) {
					display: block;
					width: 180px;
				}
			}
			input#lname {
				width: 200px;
				@media (max-width: 480px) {
					display: block;
					width: 180px;
				}
			}
			input#email {
				width: 418px;
				@media (max-width: 480px) {
					display: block;
					width: 180px;
				}
			}
			div#signupButton {
				color: @neptune-orange;
				font-weight: bold;
				width: 406px;
				@media (max-width: 480px) {
					width: 168px;
				}
			}
		}
	}
}