div#workHeader {
  background-image: url('../images/work.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 300px;
}
@media (max-width: 450px) {
  div#workHeader {
    display: none;
  }
}
div#workHeader h1 {
  color: white;
  right: 25px;
  font-size: 3.5em;
  position: absolute;
  text-align: right;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.5);
  top: 200px;
}
div#mission {
  margin-top: 48px;
  margin-bottom: 32px;
}
div#mission p {
  color: #777777;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.1em;
  margin-bottom: 28px;
  padding: 0 15%;
  text-align: center;
}
div#mission p#actionCall {
  color: black;
  font-size: 1.5em;
  margin-bottom: 10px;
}
div#broken div#workplace {
  padding-left: 28px;
}
div#setting div#environment {
  padding-left: 28px;
}
div#setting div#hubs {
  background-color: white;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 5px 20px 5px 20px;
  margin-top: 50px;
  margin-right: 28px;
}
div#positions div#teamIntro {
  margin: 28px;
}
div#positions div#positionsListBlock {
  background-color: #0f7491;
}
div#positions div#positionsListBlock ul#positionsList {
  color: white;
  list-style: none;
  margin-left: 28px;
  margin-right: 28px;
}
div#positions div#positionsListBlock ul#positionsList li.PositionEntryBorder {
  border-bottom: 1px solid #eee;
}
div#positions div#positionsListBlock ul#positionsList li h3 {
  cursor: pointer;
  margin: 0;
  padding: 10px;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails {
  display: none;
  padding: 10px;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionReqs li {
  margin-bottom: 8px;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionApply .ApplyNowBlock {
  margin-bottom: 36px;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionApply .ApplyNowBlock h4 {
  margin-bottom: 2px;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionApply .ApplyNowBlock p {
  margin-bottom: 4px;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionApply .ApplyNowBlock a {
  color: white;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionApply .ApplyNowBlock a:hover {
  color: #20c0f1;
  text-decoration: none;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionApply .SharePositionBlock {
  background: url('../images/dust.png');
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  color: black;
  padding: 10px;
}
div#positions div#positionsListBlock ul#positionsList li div.PositionDetails div.PositionApply .SharePositionBlock .ShareBlock {
  margin-bottom: 6px;
}
