@font-face {
  font-family: webTune;
  src: url('../fonts/webtune.ttf') format('truetype'), url('../fonts/webtune.eot') format('eot'), url('../fonts/webtune.woff') format('woff'), url('../fonts/webtune.svg') format('svg');
  font-weight: 400;
}
body {
  background: url('../images/dust.png');
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
div#spinnerBase {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* h2 {
	color: @neptune-dark-blue;
} */
.LastBlockBeforeFooter {
  margin-bottom: 40px;
}
footer {
  background: url('../images/dust.png');
  bottom: 0px;
  box-shadow: 0 -6px 6px -7px #000000;
  font-size: 1.2em;
  height: 40px;
  padding: 15px auto;
  position: fixed;
}
footer div#footerLinks {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}
footer div#footerLinks ul {
  list-style: none;
  margin-left: 10%;
}
footer div#footerLinks ul li {
  display: inline-block;
  float: left;
  margin-right: 7%;
  color: #0f7491;
}
footer div#footerLinks ul li:hover {
  color: #20c0f1;
  cursor: pointer;
  text-decoration: none;
}
footer div#footerLinks ul li.CurrentNav {
  color: #f3660f;
}
footer div#copyright {
  color: #777777;
  font-size: 0.8em;
  margin-top: 12px;
  text-align: right;
}
footer div#copyright p {
  margin-right: 10%;
}
