@import url('colors.less');
@import url('fonts.less');

body {
	background: url('../images/dust.png');
	height: 100%;
	width: 100%;
	@media (max-width: 767px) {
		padding: 0;
	}
}

div#spinnerBase {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/* h2 {
	color: @neptune-dark-blue;
} */

.LastBlockBeforeFooter {
	margin-bottom: 40px;
}

footer {
	background: url('../images/dust.png');
	bottom: 0px;
	box-shadow: 0 -6px 6px -7px black;
	font-size: 1.2em;
	height: 40px;
	padding: 15px auto;
	position: fixed;
	div#footerLinks {
		font-weight: bold;
		margin-top: 10px;
		text-align: left;
		ul {
			list-style: none;
			margin-left: 10%;
			li {
				display: inline-block;
				float: left;
				margin-right: 7%;
				color: @neptune-dark-blue;
				&:hover {
					color: @neptune-light-blue;
					cursor: pointer;
					text-decoration: none;
				}
				&.CurrentNav {
					color: @neptune-orange;
				}
			}
		}
	}
	div#copyright {
		color: @medium-grey;
		font-size: 0.8em;
		margin-top: 12px;
		text-align: right;
		p {
			margin-right: 10%;
		}
	}
}