body {
  background: url('../images/dust.png');
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
footer {
  font-size: 1.2em;
  margin: 15px auto;
}
footer div#footerLinks {
  font-weight: bold;
  text-align: left;
}
footer div#footerLinks ul {
  list-style: none;
  margin-left: 10%;
}
footer div#footerLinks ul li {
  display: inline-block;
  float: left;
  margin-right: 7%;
}
footer div#footerLinks ul li a {
  color: #0f7491;
}
footer div#footerLinks ul li a:hover {
  color: #20c0f1;
  text-decoration: none;
}
footer div#copyright {
  text-align: right;
}
footer div#copyright p {
  margin-right: 10%;
}
