@import url('colors.less');

body {
	background: url('../images/dust.png');
	height: 100%;
	width: 100%
	@media (max-width: 767px) {
		padding: 0;
	}
}

/* h2 {
	color: @neptune-dark-blue;
} */

footer {
	// bottom: 0;
	font-size: 1.2em;
	margin: 15px auto;
	// position: absolute;
	div#footerLinks {
		font-weight: bold;
		text-align: left;
		ul {
			list-style: none;
			margin-left: 10%;
			li {
				display: inline-block;
				float: left;
				margin-right: 7%;
				a {
					color: @neptune-dark-blue;
					&:hover {
						color: @neptune-light-blue;
						text-decoration: none;
					}
				}
			}
		}
	}
	div#copyright {
		text-align: right;
		p {
			margin-right: 10%;
		}
	}
}